@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet" >) 

*{
    margin: 0;

padding: 0;}


html ,body{
    font-family: "Dancing Script", cursive;
    box-sizing: border-box;
}
.main{
    min-height: 100vh;
    background-image: url(mad2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h2{
    
        color: white;
        font-size: 26px;
        padding: 70px;
      
}
h1{
    display: flex;
  justify-content: end;
  color: white;
  font-size: 40px;

}
.container2{
 background-color: grey;
 height: 100px;
 margin: 0 0;
 padding: 40px;
}
h1{ color: white;
    font-style:italic;
        display: flex;
        justify-content: center;
        font-size: 44px;
}
.container3{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    
}
.box1{
    max-width: 320px;
}