@import url(<"https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
);
*{
    margin: 0;

    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family:  "Anton SC", sans-serif;
}
ul{
    list-style-type: none;
}
a{
  
    text-decoration: none;
    color: beige;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    background-color: darkblue;
    position: sticky;
    top: 0;
    z-index: 100;
}
 nav ul :hover{

   color: darkred;
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.mytune{
    align-content: center;
    font-size: 23px;
}
ul{
    align-content: center;
    display: flex;
    gap: 20px;
}
h1{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 30;
}
h3{
    display: flex;
    justify-content: center;
    background-color: darkblue;
    font-size: 20;
  
    }
    p{
        margin: 10px;
    }
    .container2{
        display: grid;
        place-items: center;
        text-align: center;
        height: 130vh;
        background-image: url(music2.jpg)
        
    }
    .hero.container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    h2{
        text-align: center;
        font-size: 30;
    }
    .container3{
        max-width: 1200px;
        max-height: 1000px;
        background-color: white;
        color: black;
    }
    img {
        height: 700px;
        width: 1000px;
    }
    .button{
        display: flex;
        justify-content: space-between;
       margin: 20px 10px ;
        height: 40px;
    }