@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap') * {
    margin: 0;
    padding: 0;

    box-sizing: border-box;


}

html,
body {
    line-height: 1.2;
    font-weight: 300;
    font-family: "Playwrite NG Modern", cursive;
}

.logo{
    height: 130px;
    display: flex;
    justify-content: flex-end;
  
}
 .logotwo{
    height: 118px;
  display: flex;
  justify-content: flex-start;
  float: left;
  margin: 6px auto;
  padding: 0 0px;
}
.logothree{
  display: flexbox;
  height: 50px;
  margin: 10px;
  padding: 10px;
  

}

 .navigation{
  gap :40px ;
  height: auto;
  margin: 0px;
  padding: 0px;
    display:flex ;
    justify-content: center;
    align-items: center;
 }
 .container{
  gap 30px;
  max-width: 1200px;
  margin: 0 auto;
 }



nav {
    box-shadow: 5px 5px 5px ;
  background-color: black;
  position: sticky;
  top-0;
}
.hero{
  display: flex;
  row-gap: 100px;
  column-gap: 0px;
  justify-content: center;
  align-items: center;
}
.cont{
  gap: 10px;
  display: flex;
  flex-direction: column ;
}
.tag{
 height: 30px;
  background-color: burlywood;
  color: black;
  border-radius: 13px;
margin: 15px;
}
button {

height: 30px;
  width: 100px;
  border-radius: 13px;
  transition :.2 ease-in-out
}
button :hover{
  background-color: forestgreen;
   color: forestgreen;
   
   font: bold;
}
h1{
  font-weight: 92px;
  line-height: 1.2;
}
.explorebtl{
  align-self: flex-start;
  background-color: coral;
}
@media (max-width :800px ) {
   .cont{
    background-color: yellow;
    font-size: 15px;
    gap: 0px;
   }
   .imagemain{
    display: flex;
    justify-content: center;
  
    margin: 3px 4px;
    width: 0px;
   }
    
  }
.feature{
  margin-top:20px ;
  padding: 3px;
  height: 80px;
 font-weight: 50px;
    margin: 10px;
   display: flex;
   justify-content: center;
   gap: 160px;
  }
  .featureone{
     display: flex;
     justify-content: center;
     gap: 15px;
    
  }
  .featuretwo{
     display: flex;
     justify-content: center;
     gap: 15px;
  }
  .featurethree
  {
     display: flex;
     justify-content: center;
     gap: 15px;
  }
  
h3{
   font-size: smaller;
   font-weight: 20px;
}
.feature:hover{
  color: green;
   transition: 0.2s ease-in-out;
   box-shadow: 5px  black;
}
.divider{
   border: 1px #ccc;
   margin: 8px 0;
    border-radius:0px ;
}
.menu{
  align-self: center;
}
.tag{  display: flex;
  justify-content: center;

}
h2{
  
   display: flex;
justify-content: center;
  }
  .grid {
     display: grid;
     gap: 10px;
     justify-content: center;
      grid-template-areas:"i5 i5 i5 i3 i3  "
                           " i1    " ;
      
     

  }
  .item1{
    grid-area: i1;
  }
  .item2{
    grid-area: i2;
  }
  .item3{
    grid-area: i3;
  }
  .item4{
    grid-area: i4;
  }
  .gridimage{
    border: 5px solid brown;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
  }
  .gridimage :hover {
    transform: scale (1.05s) ;
    transition: 0.2s ease-in-out;
  }
  .footercontainer{background-color: coral;
    margin: 56px -16px;
    display: flex;
    justify-content: normal;
    gap: -16px;
    flex-direction: row;
    align-content: center;
    gap: 303px;
  }
  
  .footercontainer :hover {
    color: darkgreen;
    background-color: black;
    
  }
  .menu:hover{
    background-color: black;
    color: darkcyan;
  }
  .tag:hover{
    background-color: chocolate;
  }
  p3{
    height: 30px;
     display: flex;
     justify-content: center;
      background-color: black;
      color: beige;
      padding: 20px;
  }