*{
    margin: 0;
    padding: 0;
}
 #navbar{
    position: relative;
    height: 200px;
}



#navbar ul{
    display: flex;
    height: 112px;
}
#navbar ul li{
    list-style: none;

}
#navbar ul li a{
    background-color: black;
    color: white;
    display: block;
    padding: 0px 0px ;

    text-decoration: none;
}
#navbar ul li a :hover {

    color: blue;
    background-color: brown;


}
h1{ display: flex;
    justify-content: center;
    color: beige;
    
}
p{
    color: bisque;
}
#btn{
    background-color: black;
    color: white;
    height: 22px;
    

    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 2px 31px;
    margin: 300px 300px;
    height: 31px;
  
  
}
.container{
    
    height: 400px;

}

.main{
    max-width: 800px;
    background-image: url(121.jpg);
    display: flex;
    flex-direction: column;
    padding: 3px 100px;
    justify-content: center;
    align-items: center;
    min-height: 00px;

}
