 @import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" );
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mouse Memoirs", sans-serif;
}
html,body{
  font-family: "Bebas Neue", sans-serif;
  width: 100%;
  height: 100%;
  font-family: "Mouse Memoirs", sans-serif;

}
header{
    font-family:  "Noto Sans", sans-serif;
    background-color: darkslategray ;
    color: black;
    opacity: 50;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-size: small;
    margin: 0px 0px;
    padding: 30px 60px;
    position: sticky ;
    top : 0px ;
  
}
header  :hover { 
    color: darkslategray;
    background-color: black;
    font-family: "Noto Sans", sans-serif;
    font-weight: 300px;
    
}
.mainwork{
    
    font-weight: 600px;
       margin: 10px 10px;
          display: inline-flex;
          align-items: center;
    background-color: black;
    color: white;
    height: 450px;
    width: 100%;
    background-image: url(ww.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.wow{
  align-self: end;
}
h1
{
    margin: 0px 200px;
  padding: 92px 17px;
  color: black;
 
}
h1:hover {
  background-color: brown;
  color: yellow;
  
}

h2{

   margin: 150px 0px;
       
      
}
h2:hover {
  
  color: yellow;
  
}
.content{
  background-color: black;
color: white;
}




.imgg 
{
  margin: 0px 0px;
  height: 55vh;
  align-self: normal;
  border: 4px solid darkgrey;
}
.img2{
  height: 300px;
  border: 5px saddlebrown;
  background-size: cover;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul  {
  display: flex;
  justify-content: space-between;
  list-style: none;

}
footer{
  background-color: darkgray;
  color: black;
  height: 60px;
  margin: 5px 0px;
  align-content: center;
}
nav{
  display: flow-root;
}
@media (max-width : 500px) {
   .mainwork {
    display: flex;
    justify-content: center;
    height:50%;
    width: 50%;
   }
  .content {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 50%;

  }
  .imgg{
    display: flex;
    justify-content: center;
    height: 50%;
    width: 50%;
  }
  
}


.multiple { 
  display: flex ;
  justify-content: space-between;

}
.box1 {
  width: 310px;
  height: 450px;
  border: 3px solid;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  


}
p{
  display: flex;
  justify-content: center;
}




.box2{
  width: 310px;
  height: 450px;
  border: 3px solid;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;


  
}



.box3 {


  width: 310px;
  height: 450px;
  border: 3px solid;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.igi{
  height: 65%;
  size: cover;
  
}
.igi3{
  

  height: 110vh;
  width: 30vw;
  size: cover;
}
.img5{
  height: 40vh;
  size: cover;
}
.b1{
 width: 50%;
 height: 70%;
 display: flex;
  justify-content: center;

 
}
.b2{
   width:50%;
   height: 70%;
   
   display: flex;
  justify-content: space-around;
  align-items: top;
  align-self: flex-start;
   

}
.wew{
  height: 12vw;
  align-self : center;
}
h4:hover{

    
    color: yellow;
    
  
}
h2{
  color: black;
  font-size : 75px
}
h4{
  color: black;
  font-size : 45px;
  
}
.multiple{
  background-color: black;
  color: WHITE;
}
FOOTER:hover{
  color: darkred;
}

nav ul{
font-size: 30px;
}
.container {
  display: flex;
  
  align-items: center;
  gap: 13px;
  font-size:25px;

}
.container4 {
  display: flex;
  
  align-items: center;
  gap: 13px;
  font-size:22px;

}
.container3 {
  display: flex;
  
  align-items: center;
  gap: 13px;
  font-size:22px;

}
.container2 {
  display: flex;
  
  align-items: center;
  gap: 13px;
  font-size:22px;

}

.container:hover{
  color: yellow;
background-color: black;

}
.container2:hover{
  color: yellow;

background-color: black;
}
.container3:hover{
  color: yellow;
background-color: black;

}
.container4:hover{
  color: yellow;
background-color: black;

}