*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-evenly;

}
li{
    list-style: none;
}
.bar{
    margin: 2px -95px;
  padding: 1px 0px;

}
.FRM{
    display: flex;
    justify-content: center;
}
.submit{
    width: 100px;
}